* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f0ebf8;
}

header {

    background: #673ab7;
    height: 200px;
}

header h3 {

    color: #ffff;
    padding: 20px;
}

.titleform {

    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid;
}

#campo-form {

    background: #ffff;
    margin: 40px 160px;
    padding: 20px;
    border-radius: 10px;

}

.campos {

    padding-bottom: 10px;
    margin: 20px;

}

.campos p {

    text-align: center;
}

.campos input,textarea {

    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: block; 
    width: 80%;
}

#tipo_cambio {

    display: inline;
}